/*====================== MAP =========================*/
#map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */

#map-container{
    padding-top: 50px;
    width:100%;
    height:100%;
    padding-bottom: 40px;
    overflow:hidden;
}
html {
    overflow-y: scroll;
}

html,
body {
  height: 100%;
  width:100%
  margin: 5px;
  padding: 0;
  font-family: 'Lato', sans-serif;
  background-color: #C7E3E6;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* Change the link color to #111 (black) on hover */

li a:hover {
  background-color: #111;
}

.txt-field {
  width: 100%;
  height: 30px;
  font-size: 1.2em;
  display: block;
  margin: 5px;
}
/* dropdown */

#problem-type {
  display: inline-block;
}


/*LOCATION*/
#problem-location{
  border: none;
  text-align: left;
  height: 30px;
  padding-left: 10px;
  border-radius: 25px;
  width: 100%;
  vertical-align: center;
}
/* AUTOCOMPLETE SEARCH*/

#description {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
      }

      #infowindow-content .title {
        font-weight: bold;
      }

      #infowindow-content {
        display: none;
      }

      #map #infowindow-content {
        display: inline;
      }

      .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: Roboto;
      }

      #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
      }

      .pac-controls {
        display: inline-block;
        padding: 5px 11px;
      }

      .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }

      #pac-input {
        font-size: 15px;
        font-weight: 300;
        text-overflow: ellipsis;
          border-color: lightgrey;
          border-style: solid;
          text-align: left;
          height: 40px;
          padding-left: 10px;
          border-radius: 25px;
          width: 100%;
          vertical-align: center;
        }
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      #title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
      }
      #target {
        width: 345px;
      }
      /*===========*/

#location-container {
  style="width: 100%;
  font-size: 0;
}

#report-from-map {
  color: white;
}

#report-description {
  text-align: top;
  width:100%;
  max-width: 100%;
  border:none;
  color: grey;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

#report {
  padding: 15px;
  padding-top: 70px;
  overflow: hidden;
}

.line {
  display: inline-block;
  vertical-align: top;
  font-size: 15px;
}

#report-btn {
  font-size: 1.2em;
  width: 100px;
  height: 50px;
  max-width: 500px;
  color: black;
  text-decoration: none;
  padding: 15px 50px 15px 50px;
  background-color: #2DBC8B;
  border: none;
  font-weight: bold;
  border-radius: 30px;
  color:white;
}

/*ADD PICTURE*/
#pic-btn {
  font-size: 1.2em;
  float:left;
  height: 20px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding-top: 5px;
}

#picture-status {
  color: white;
}

#estimated-time {
  font-family: 'Roboto', sans-serif;
}
/*Snackbar*/

#snackbar {
  display: none;
  visibility:hidden;
  width:100%;
  background-color: #539AD0;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: absolute;
  z-index: 2;
  bottom: 60px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 5.5s;
  animation: fadein 0.5s, fadeout 0.5s 5.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
/*===================== NAVBAR =================*/

.icon-bar {
  width: 100%;
  height: 40px;
  text-align: center;
  background-color: #0151BC;
  color: white;
  overflow: auto;
  font-size: 1em;
  /*box-shadow: inset 0px 0px 10px 5px rgba(0,0,0,0.2);*/
}

.icon-bar a {
  float: left;
  text-align: center;
  transition: all 0.3s ease; /* Add transition for hover effects */
  color: white;
  text-decoration: none;
  height:100%;
}

.icon-bar img {
  height: 27px;
}

/*NAVBAR TOP*/
.navbar-top {
    width: 100%;
    color: white;
    overflow: auto;
    font-size: 15px;
    z-index: 1;
    position: fixed;
    top:0px;
    left:0px;
    height: 50px;
    line-height: 50px;
}

.navbar-top i {
  align:right;
  font-size: 25px;
  text-align: center;
}

.navbar-top a {
  font-size: 1.2em;
}

/*NAVBAR BOTTOM*/
.navbar-bottom {
  position: fixed;
  bottom:0px;
  height: 60px;
  overflow: hidden;
  font-size: 15px;
  width:100%;
}

.navbar-bottom i {
  font-size: 25px;
}

.navbar-bottom a {
  width: 33%;
  padding-top:7px;
}

.navbar-bottom a:hover {
  background-color: #539AD0;
  height:100%;
}


.active {
  background-color: #A2D7FB;
  color: white;
}
/*TYPE SELECTION*/

.type-icon {
  width: 100%;
  background-color: #0151BC;
  color: white;
  padding: 5px;
  height: 40px;
  font-size: 1.1em;
  border-radius: 10px;
}

.type-icon:hover {
  background-color: #539AD0;
}

.type-icon img {
  margin-left: 5px;
  margin-right: 5px;
  height: 100%;
}

.type-icon>input {
  /* HIDE RADIO */
  visibility: hidden;
  /* Makes input not-clickable */
  position: absolute;
  /* Remove input from document flow */
  cursor: pointer;
}

.type-icon>input:checked+img{
  /* (RADIO CHECKED) IMAGE STYLES */
  background-color: #539AD0;
  height: 100%;
  border-radius: 10px;
  padding: 3px;
}

.type-info {
  float:right;
  height:100%;
}


.espoo-blue-font {
  color: #0151BC;
}
/*TOOLTIP INFO FOR REPORT TYPES*/

.tooltiptext {
    display: none;
    width: 90%;
    background-color: white;
    color: grey;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    top: -5px;
    right: 105%;
    z-index: 999;
    font-size: 14px;
    padding: 5px;
    border-color: grey;
    border-style: solid;
    border-weight: 2px;
}


/* CARDS */
.news-card {
  width:90%;
  padding:10px;
  margin:20px;
  background-color: white;
  color:grey;
  border-radius: 20px;
  height: 100%;
}

.news-card h1 {
  font-size: 1.3em;
  float:left;
  width: 100%;
}

.timestamp{
  color: lightgrey;
  font-size: 0.9em;
  padding-left: 5px;
}

.news-btn {
  background-color: #0151BC;
  color:white;
  border:none;
  border-radius: 10px;
  padding: 5px;
  margin: 10px 0px 10px 0px;
  font-size: 0.9em;
}

.news-btn:hover {
  background-color: #539AD0;
}

/*NEWS TAB MENU*/
.tab-menu {
  background-color: #539AD0;
  width:100%;
  height:40px;
  text-align: center;
  color: white;
  overflow: auto;
  font-size: 1.1em;
  z-index: 1;
  position:fixed;
}

.tab-menu a {
float: left;
text-align: center;
transition: all 0.3s ease; /* Add transition for hover effects */
color: white;
text-decoration: none;
height:100%;
line-height: 40px;
}

.tab-menu img {
margin-right: 5px;
height:25px;
}

.card-view {
  padding-top: 40px;
}


/*RANKING LISTS*/
.ranking-list-item {
  height: 10%;
  width:100%;
  font-size: 0;
  vertical-align: middle;
  position: relative;
  display: inline-block;
}

.ranking-list-item img {
  height: 20px;
}

.ranking-list-item span {
  left: 5px;
}

.ranking-list-item h2 {
  font-size: 1.1em;
}

.ranking-card hr {
  margin: 5px;
}

.ranking-card h1 {
  color: #0151BC;
}
.ranked-likes {
  float:right;
}
.ranked-type, .ranked-location{
  width: 100%;
}


/*SIDE NAV*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    color:grey;
    /*background-image: url("../img/gradient-bg-light.png");*/
    /*background-size: cover;*/
}

#sidenav-content{
    margin-left: 10px;
    padding-left:10px;
    margin-right: 10px;
    padding-right:10px;
    text-decoration: none;
    font-size: 1.2em;
    color: grey;
    display: block;
    transition: 0.3s;
}

.sidenav-logo{
  border-radius: 60px;
  background-color: #0151BC;
  height:120px;
  width:120px;
}

#sidenav-logo img{
  height:100%;
  padding:5px;
}


.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    text-decoration: none
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


/*LANDING PAGE*/
.img-wrapper {
  overflow: hidden;
 }

.img-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.img-overlay:before {
  content: ' ';
  display: block;
  /* adjust 'height' to position overlay content vertically */
  height: 5%;
}

/*INFO WINDOW*/
.info-window-btn {
  background-color: #0151BC;
  color:white;
  border:none;
  border-radius: 10px;
  padding: 5px;
  margin: 10px 0px 10px 0px;
  font-size: 1.2em;
}

.info-window-btn:hover {
  background-color: #539AD0;
}
